.survey-div {
  width: 70%;
  padding: auto;
  padding-top: 50px;
  margin: auto;
}

.sort-container {
  float: 'left';
  width: '25%';
  margin: '5px 5px';
  height: '100%';
};

.search-container {
  width: '70%';
  float: 'right';
  margin: '5px 5px';
  height: '100%';
};

.image-container {
  height: 'auto';
  width: 'auto';
  maxHeight: '200px';
  maxWidth: '200px';
  border: '0';
  align: 'left';
};

.indentRight {
  padding: 16px;
}